# Dependency directories
node_modules/
jspm_packages/

# Env secrets
.env
.env.*

# VitePress build/cache outputs
.vitepress/dist/
.vitepress/cache/
.vitepress/dist-ssr/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# IDE configurations
.vscode/
.idea/
.gemini/
